<!DOCTYPE html>
<html>
    <head>
        <title>LOVE&GIFT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <style>

            /*body {
                background: url("https://ww4.sinaimg.cn/large/006tNc79jw1fcoiwefp5oj300o00g0c7.jpg") repeat fixed;
            }*/

            table,
            td,
            th {
                border: 12px solid transparent;
                text-align: center;
                background-color: transparent;
                /*改为transparent */

            }

            .image {
                position: relative;
                width: 100%;
                height: auto;
                overflow: hidden;

            }

            .product_data {
                position: relative;
                width: 100%;
                height: auto;
            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background-color: #352645;
            }
            .product_data:hover .overlay {
                opacity: 0.9;
            }

            .imgblock a {
                list-style: none;
                margin: 0;
                padding: 0;
                text-decoration: none;
            }

            .product_data .text {
                text-align: center;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }

            .i_title {
                font-size: 32px;
                font-weight: bold;

            }

            .i_subtitled {
                font-size: 18px;
                opacity: 0.7;

            }

            .i_price {
                font-size: 50px;
                font-weight: bold;
                padding-top: 20px !important;
            }

            span {
                text-align: center;
            }

            div.img {
                border: 1px solid #ccc;
            }
            div.img:hover {
                border: 1px solid #E61C64;
            }

            div.img img {
                position: relative;
                width: 100%;
                height: auto;

            }

            .img {
                position: relative;
                width: 100%;
            }

            div.desc {
                padding: 15px;
                text-align: center;
            }

            * {
                box-sizing: border-box;
            }

            .responsive {
                margin: 15px 0;
                padding: 0 8px;
                float: left;
                width: 24.99999%;
            }
            @media only screen and (max-width: 700px) {
                .responsive {
                    width: 49.99999%;
                    margin: 6px 0;
                }
            }
            @media only screen and (max-width: 500px) {
                .responsive {
                    width: 100%;
                }
            }
            .clearfix:after {
                content: "";
                display: table;
                clear: both;
            }

            #myCarousel {
                height: 450px;
                width: 100%;
            }

            .carousel-control,
            .carousel-inner {
                position: relative;
                overflow: hidden;
                width: 100%;
            }

            #caption-text .carousel-caption {
                text-align: center;
            }

            .carousel-caption {
                margin-bottom: 100px;
            }

            .carousel-caption h1 {
                font-size: 50px;
            }

            .carousel-caption p {
                font-size: 30px;
                opacity: 0.7;
            }

            .TagName {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
            }

            .TagName a {
                display: inline-block;
            }

            b {
                font-size: 25px;

            }

            h1 {
                font-size: 3em;
                margin-top: 30px;

            }

            .ItmeTitle {
                text-align: center;
                margin-top: 120px;
                margin-bottom: 50px;
            }

            .title {
                margin-top: 50px;
            }

            samp {
                font-size: 18px;
                opacity: 0.7;
            }

        </style>

    </head>
    <body>

        <!-- 以下是首屏滚动图 -->
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="row">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcx1t2q1z7j31hc0go43u.jpg" alt="LOVE&GIFT">
                                    <div class="carousel-caption" id="caption-text">
                                        <h1>来一牛逼文案，说明商店是做卖啥的</h1><br>
                                        <p>BBBBBBBBBBBBBBBB</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fcx1uvqqd5j31hc0gojvt.jpg" alt="LOVE&GIFT">
                                    <div class="carousel-caption" id="caption-text">
                                        <h1>再来一牛逼文案，说明商店是做卖啥的</h1><br>
                                        <p>BBBBBBBBBBBBBBBBBBBBBBBBB</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 以下是第二部分 -->
        <div class="container">
            <!--设置产品图整个模块-->
            <div class="row" style="margin-left:80px; margin-right:80px;">
                <!--设置模块两边宽度-->

                <!--以下是第一栏-->
                <table class="itable" id="itable" style="width:100%;">

                    <tr class="imgblock">

                        <td class="product_data" colspan="2" style="width:75%; height:460px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcy463c586j30j60csjtk.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>

                        <td class="product_data" colspan="2" style="width:25%; height:460px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcy50wzoqdj306e0d274y.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>

                <!--以下是第二栏-->
                <table class="itable" id="itable" style="width:100%;">
                    <!--以下是第一行-->
                    <tr class="imgblock">
                        <!--以下是第一格-->
                        <td class="product_data" style="width:25%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcy46bmcrhj306e06eaae.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <!--以下是第二格-->
                        <td class="product_data" style="width:25%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcy46bmcrhj306e06eaae.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <!--以下是第三格-->
                        <td class="product_data" rowspan="2" style="width:50%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcy467m1x2j30cs0cs407.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                    <!--以下是第二行-->
                    <tr class="imgblock">
                        <!--以下是第一格-->
                        <td class="product_data" colspan="2" style="width:50%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcy4696gkbj30cs06et9h.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                </table>

                <!--以下是第三栏-->
                <table class="itable" id="itable" style="width:100%;">
                    <!--以下是第一行-->
                    <tr class="imgblock">
                        <!--以下是第一格-->
                        <td class="product_data" rowspan="2" style="width:50%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcy46bmcrhj306e06eaae.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <!--以下是第二格-->
                        <td class="product_data" style="width:25%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcy467m1x2j30cs0cs407.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <!--以下是第三格-->
                        <td class="product_data" style="width:25%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcy467m1x2j30cs0cs407.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                    <!--以下是第二行-->
                    <tr class="imgblock">
                        <!--以下是第一格-->
                        <td class="product_data" colspan="2" style="width:50%; height:230px;">
                            <a href="#" target="_blank">
                                <!--放入产品详情页面链接-->
                                <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcy4696gkbj30cs06et9h.jpg" alt="#" class="image">
                                <!--放入产品图片，名字-->
                            </a>
                            <div class="overlay">
                                <a href="#" target="_blank">
                                    <!--放入产品详情页面链接-->
                                    <div class="text">
                                        <div class="i_title">XXXXXXX</div>
                                        <div class="i_subtitled">BBBBBBBBBBB</div>
                                        <div class="i_price">
                                            ￥
                                            <sam>69</sam>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                </table>

            </div>
            <!--row-->
        </div>
        <!-- container -->

        <!-- 以下是第二栏 -->

        <div class="container">
            <div class="row">
                <div class="ItmeTitle">
                    <h1>
                        <samp>--------</samp>&nbsp HIGHLY RECOMMEND
                        <samp>--------</samp>&nbsp</h1>
                    <p style="font-size: 30px;">taste sweet, taste happiness</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="thumbnail">
                        <a href="https://love-and-gift.herokuapp.com/products/3" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fcrr0gifnkj30go0b445l.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Chocolate Mix</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="https://love-and-gift.herokuapp.com/products/3" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="thumbnail">
                        <a href="https://love-and-gift.herokuapp.com/products/5" target="_blank">
                            <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fcrr1r4b26j31kw11x11u.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Chocolate Strawberries</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥888 &nbsp&nbsp&nbsp<a href="https://love-and-gift.herokuapp.com/products/5" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 以下是第三栏 -->

        <div class="container">
            <div class="row">
                <div class="ItmeTitle">
                    <h1 id="s1">
                        <samp>--------</samp>&nbsp ONLY FOR
                        <samp>--------</samp>&nbsp
                    </h1>
                    <p style="font-size: 30px;">special one in special day</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fcpdh5hl2hj30go0b4n2q.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Red Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fcrrkt7tdrj30j20j2n0j.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Pink Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥888 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcpeeeaz6mj30go0b479e.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Colourful Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥33.4 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>

        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fcrrn8qro9j30in0in40h.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Rose in Heart</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥888 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcp538ldshj30go0b4n39.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Bouquet</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥888 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="https://love-and-gift.herokuapp.com/products/1" target="_blank">
                            <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fcrrxmkz62j30a30a3myi.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Colourful Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥888 &nbsp&nbsp&nbsp<a href="https://love-and-gift.herokuapp.com/products/1" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="ItmeTitle">
                    <h1 id="s2">
                        <samp>--------</samp>&nbsp NICE GIFT
                        <samp>--------</samp>&nbsp</h1>
                    <p style="font-size: 30px;">she deserved</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcpdhogiwwj30go0b445l.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Chocolate Mix</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥888 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcp2jxpc0hj30go0b4agi.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Strawberry</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥28.8 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcp54pf6crj30go0b4q7g.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Happy Cake</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥33.4 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcp55enqzfj30go0b4wiq.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Couple Rings</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥88.8 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fcrrzrpuqbj30j60j6goo.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Chocolate Mix</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcp5588s8aj30go0b4dk8.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Pink Lily</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥99.9 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="ItmeTitle">
                    <h1 id="s3">
                        <samp>--------</samp>&nbsp CLASSIC WORK
                        <samp>--------</samp>&nbsp</h1>
                    <p style="font-size: 30px;">will always be worth collecting</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fcrs9wh973j31kw23ukjl.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Beast</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥88.8 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fcrs8sbjeqj31kw23ub29.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Beast</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fcrs8ps6g6j31kw23unpd.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Beast</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥99.9 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fcrs978uzcj30h30cmgnb.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Beast Box</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥88.8 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fcrs8zqsxjj30i40i477n.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Music Box</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fcrs8xh8m4j30h40cndhq.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Beast Cup</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥99.9 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="ItmeTitle">
                    <h1 id="s4">
                        <samp>--------</samp>&nbsp MORE FLOWERS
                        <samp>--------</samp>&nbsp</h1>
                    <p style="font-size: 30px;">more love given</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fcrskrpo3mj30hs0kuq3j.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Red Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥88.8 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww1.sinaimg.cn/large/006tNbRwly1fcrsu9tibtj31kw16ptpe.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Pink Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww1.sinaimg.cn/large/006tNbRwly1fcrskpnc6sj30hs0ktdi4.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Colourful Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥99.9 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcp5588s8aj30go0b4dk8.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Pink Lily</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥88.8 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww1.sinaimg.cn/large/006tNbRwly1fcrsvnr8l3j31kw11te82.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Colourful Rose</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥999 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="#" target="_blank">
                            <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcp56jbviuj30go0b4gqy.jpg" class="img-responsive" style="width:100%" alt="LOVE&GIFT">
                        </a>
                        <div class="caption">
                            <p class="TagName">
                                <b>Colourful Tulip</b>&nbsp&nbsp&nbsp&nbsp&nbsp￥99.9 &nbsp&nbsp&nbsp<a href="#" class="btn btn-primary btn-xs">Check</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 以下是第四栏 -->
                <!-- 以下是标题 -->
                <br/><br/><br/><br/><br/><br/><br/><br/>
                <div class="title" style="margin-top:280px; margin-bottom:40px;">
                    <span>
                        <h2>
                            <samp>--------</samp>&nbsp 我是一个标题 &nbsp<samp>--------</samp>
                        </h2>
                    </span>
                </div>
                <br/>

                <!-- 以下是第一行 -->
                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="#">
                            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcy510th38j30go0b440e.jpg" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="#">
                            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcy510th38j30go0b440e.jpg" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="img_lights.jpg">
                            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcy510th38j30go0b440e.jpg" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="img_mountains.jpg">
                            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcy510th38j30go0b440e.jpg" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!-- 以下是第二行 -->
                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="#">
                            <img src="#" alt="#" width="300" height="200">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="#">
                            <img src="#" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="img_lights.jpg">
                            <img src="#" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="responsive">
                    <div class="img">
                        <a target="_blank" href="img_mountains.jpg">
                            <img src="#" alt="#" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </body>
        </html>
    </div>

</div>

</body>
</html>
