<!DOCTYPE html>
<html>
    <head>
        <title>LOVE&GIFT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            @media (max-width:768px) {
                .lg-section-1 .content-1 {
                    max-width: 100%;
                    padding-top: 120px;
                }
            }
            @media (max-width:768px) {
                .lg-section-2 .content-2 {
                    max-width: 100%;
                    padding-top: 120px;
                }
            }

            .lg-section-1 .content-1 {
                display: block;
                min-width: 320px;
                height: 500px;
                z-index: 91;
                text-align: center;
            }
            .lg-section-1 {
                background: url("https://ww1.sinaimg.cn/large/006tKfTcly1fd7nyalan1j31kw0w5h5z.jpg");
                background-image: url("https://ww1.sinaimg.cn/large/006tKfTcly1fd7nyalan1j31kw0w5h5z.jpg");
                background-size: cover;
                background-position: center 80%;
                margin-top: 0;
                width: 100%;
                position: relative;
            }

            .content-1 {
                color: #fff;
                padding: 120px;
            }
            .content-1 h1 {
                font-size: 3em;
            }
            .content-1 p {
                font-size: 1.3em;
            }
            a:active,
            a:hover,
            a:link,
            a:visited {
                text-decoration: none;
            }

            .btn-primary {
                background-color: #E61C64;
                border-color: #E61C64;
                border-radius: 0.2em;
                font-size: 1.628em;
                padding: 0.57em 1.5em;
                margin-top: 3.85em;
                text-align: center;
                text-overflow: clip;
                letter-spacing: 2px;
                color: white;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }
            .btn-primary:hover {
                background-color: #d10b51;
                border-color: #d10b51;
            }

            .lg-section-2 {
                height: 680px;
            }
            .lg-section-2 .content-2 {
                padding-top: 90px;
                margin: 0 auto;
                width: 690px;
                text-align: center;
            }

            .lg-section-2 .content-2 h2 {
                padding-bottom: 20px;
                letter-spacing: 3px;
            }

            .lg-section-2 .content-2 p {
                line-height: 34px;
                font-size: 1.1em;
                color: #666;
                padding: 0 50px;
                text-align: center;
            }

            .lg-section-2 .content-2 img {
                margin-top: 50px;
                width: 500px;
                height: auto;
            }
            @media (max-width:960px) {
                .lg-section-3 .content-3 .feature-block {
                    width: 250px;
                    margin: 0 auto;
                    float: none;
                }
            }
            .lg-section-3 .content-3 .feature-block {
                display: block;
                border-style: none;
                border-radius: 0;
                width: 250px;
                position: relative;
                margin: 15px 30px 0;
                float: left;
            }

            .lg-section-3 {
                background-color: #f2f2f2;
                height: 640px;
                width: 100%;

            }

            .lg-section-3 .content-3 {
                display: block;
                width: 960px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                text-align: center;
                padding-top: 70px;
            }

            .lg-section-3 .feature-title {
                margin-bottom: 50px;
                letter-spacing: 3px;
            }

            .lg-section-3 .content-3 h4 {
                padding: 20px 0 25px;
                letter-spacing: 3px;

            }

            .lg-section-3 .content-3 p {
                line-height: 25px;
                font-size: 1.1em;
                color: #666;
                width: 250px;
                margin: 0;
                padding: 0;

            }

            .lg-section-3 .content-3 img {
                margin-top: 50px;
                width: 250px;
                height: auto;
                border: 5px solid #fff;
                border-radius: 3px;

            }

            .lg-section-4 {
                display: block;
                width: 100%;
                height: 500px;
                min-width: 960px;
            }
            .lg-section-4 .content-4 {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 960px;
                height: 450px;
                padding: 50px 0;
                position: relative;
            }

            .lg-section-4 .content-4 .client-share-left {
                padding-left: 30px;
                float: left;
                width: 580px;
            }

            .lg-section-4 .content-4 .client-share-right {
                padding-left: 30px;
                float: left;
                width: 380px;
            }

            .lg-section-4 .content-4 .photo img {
                border: 5px solid #f2f2f2;
                border-radius: 3px;
                width: 80px;
                height: auto;
            }

            .lg-section-4 .content-4 h2 {
                text-align: center;
                padding-bottom: 60px;
                letter-spacing: 3px;
            }

            .lg-section-4 .content-4 .client-share-left p {
                padding-top: 20px;
                display: block;
                clear: both;
                width: 350px;
                line-height: 25px;
                color: #666;
                font-size: 1.1em;
            }

            .lg-section-4 .content-4 .client-share-right p {
                padding-top: 20px;
                display: block;
                clear: both;
                line-height: 25px;
                color: #666;
                font-size: 1.1em;
            }

            .lg-section-4 .content-4 .name span {
                font-size: 1.1em;
                line-height: 22px;
                font-weight: bold;
                color: #444;
            }

            .fa {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
            }

            #fa-quote {
                color: #E61C64;
            }

            .lg-action {
                display: block;
                background: url("https://ww1.sinaimg.cn/large/006tKfTcly1fd7nyalan1j31kw0w5h5z.jpg");
                background-image: url("https://ww1.sinaimg.cn/large/006tKfTcly1fd7nyalan1j31kw0w5h5z.jpg");
                background-position-x: center;
                background-position-y: 80%;
                background-size: cover;
                background-position: center 80%;
                margin: 50px auto 0;
                width: 100%;
                min-width: 960px;
                height: 300px;
                position: relative;
            }

            .lg-action .action-content {
                display: block;
                min-width: 320px;
                z-index: 91;
                text-align: center;
            }

            .action-content {
                color: #fff;
                padding: 62px;
            }

            #action-btn {
                margin-top: 1.3em;
            }

        </style>

    </head>
    <body>

        <!-- headline -->
        <div class="row">
            <div class="row">
                <div id="lg-content">
                    <div class="lg-section-1">
                        <div class="content-1">
                            <h1>送一份让对方满满惊喜的礼物</h1><br>
                            <p>表达心意有绝招，5分钟选出贴心礼物送给TA</p>
                            <div>
                                <div>
                                    <a class="btn btn-primary btn-lg" href="/products">马上挑选</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg-section-2 clearfix">
                        <div class="content-2">
                            <h2>我们帮你解决送礼这件日常事</h2>
                            <p>赠送礼物是我们与人交往，拉近距离，表达感恩的一件日常事。 我们以送礼心理学为基本，不但教会你如何快速选出对方喜欢的礼物， 还传授你送礼过程中的各种创意方法，让你每一次的表达心意都能充满惊喜与欢乐。</p>
                            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd7somgk1gj30dw07wjvf.jpg"></div>
                    </div>
                    <div class="lg-section-3 clearfix">
                        <div class="content-3">
                            <div class="feature-title">
                                <h2>挑选最优礼物送达意想不到的惊喜</h2>
                                <div class="feature-block">
                                    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd7t16orvpj308c04rt9d.jpg"><br/>
                                    <h4>帮你洞察对方喜好</h4>
                                    <p>
                                        你喜欢的礼物，并不一定是对方喜欢的。要如何知道收礼人的喜好？我们应用心理学帮你分析对方喜好，助你挑选出Ta喜欢的完美礼物。</p>
                                </div>
                                <div class="feature-block">
                                    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fd7t15y1s3j308c04rdgm.jpg"><br/>
                                    <h4>直接锁定最优礼物</h4>
                                    <p>
                                        挑选礼物品类太多挑花眼，又怕对方不喜欢。我们导入了送礼心理学大数据，根据你的简单描述，为你直接锁定最优礼物，从此没有告别选择困难。</p>
                                </div>
                                <div class="feature-block">
                                    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fd7t15vg28j308c04r3z9.jpg"><br/>
                                    <h4>物美实用价格不贵</h4>
                                    <p>
                                        我们只提供精美实用且价格不贵的好东西，既能让你的心意完美表达，又会使对方满怀欢喜，达到宾主尽欢，真正为你省时省心又省钱。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg-section-4">
                        <div class="content-4 clearfix">
                            <h2>看看以往顾客怎么说</h2>
                            <div class="client-share-left">
                                <div class="photo">
                                    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd7wstxs33j30pe0pe0zt.jpg">

                                </div>

                                <p>
                                    <i class="fa fa-quote-left" id="fa-quote" aria-hidden="true"></i>
                                    每次重大节日的到来，我都开始焦虑，不知道该送什么礼物给亲爱的。偶然间朋友推荐我去LOVE&GIFT网站看看，说是上面有很多精美的东西，还教你如何送出创意。现在过去一年了，在我们的所有纪念日里，我都可以得心应手地给到她满满的惊喜。
                                    <i class="fa fa-quote-right" id="fa-quote" aria-hidden="true"></i>
                                </p>
                                <div class="name">
                                    <span>Y先生</span>
                                </div>
                            </div>
                            <div class="client-share-right">
                                <div class="photo">
                                    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd7wsv28vuj30dw0dvjte.jpg">

                                </div>
                                <p>
                                    <i class="fa fa-quote-left" id="fa-quote" aria-hidden="true"></i>
                                    以前我总是习惯把自己喜欢的物品买来作为礼物送给闺蜜，但好几次发现其实自己喜欢的，闺蜜并不喜欢。在这里，我学到了如何挑选最合适的礼物送给亲人朋友，每次送出的礼物对方反馈都好喜欢，我也很开心。这个网站上的创意送礼方法真是超赞。
                                    <i class="fa fa-quote-right" id="fa-quote" aria-hidden="true"></i>
                                </p>
                                <div class="name">
                                    <span>L小姐</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg-action clearfix">
                        <div class="action-content">
                            <h1>迫不及待给TA制造惊喜</h1>
                            <div>
                                <div>
                                    <a class="btn btn-primary btn-lg" id="action-btn" href="/products">马上挑选礼物</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
</div>

</body>
</html>
</div>
</div>

</body>
</html>
</div>

</body>
</html>
