// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* product index panel */
.banner {
  background: url("https://ww2.sinaimg.cn/large/006tNbRwly1fd8kdkfgmij31kw0tukjn.jpg");
  background-image: url("https://ww2.sinaimg.cn/large/006tNbRwly1fd8kdkfgmij31kw0tukjn.jpg");
  background-size: cover;
  background-position: center 70%;
  margin-top: 0;
  width: 100%;
  position: relative;
  height: 500px;
}
.banner .banner-content {
  display: block;
  min-width: 320px;
  height: 500px;
  z-index: 91;
  text-align: center;
}
.banner-content {
  color: #fff;
  padding: 200px;
}
.banner-content h1 {
  font-size: 4em;
  color: #ed0127;
}
.banner-content p {
  font-size: 2em;
  color: #555;
}

table,
td,
th {
    border: 12px solid transparent;
    text-align: center;
    background-color: transparent;
}
.image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.product_data {
    position: relative;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #2c1e3a;
}
.product_data:hover .overlay {
    opacity: 0.95;
}
.imgblock a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.product_data .text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.i_title {
    font-size: 35px;
    font-weight: bold;
}
.i_subtitled {
    font-size: 18px;
    opacity: 0.7;
}
.i_price {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px !important;
}
span {
    text-align: center;
}
div.img {
    border: 1px solid #ccc;
}
div.img:hover {
    border: 1px solid #E61C64;
}
div.img img {
    position: relative;
    width: 100%;
    height: auto;
}
.img {
    position: relative;
    width: 100%;
}
div.desc {
    padding: 15px;
    text-align: center;
}
.responsive {
    margin: 15px 0;
    padding: 0 8px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#myCarousel {
    height: 450px;
    width: 100%;
}
.carousel-control,
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#caption-text .carousel-caption {
    text-align: center;
}
.carousel-caption {
    margin-bottom: 100px;
}
.carousel-caption h1 {
    font-size: 55px;
    color: #333;
}
.carousel-caption p {
    font-size: 30px;
    opacity: 0.8;
    color: #333;
}
.TagName {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.TagName a {
    display: inline-block;
}
b {
  font-size: 25px;
}
h1 {
  font-size: 3em;
  margin-top: 30px;
}
.ItmeTitle {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.title {
  margin-top: 50px;
}
samp {
  font-size: 18px;
  opacity: 0.7;
}
