<head>
    <title>LOVE&GIFT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<% if flash.any? %>
<% user_facing_flashes.each do |key, value| %>
<div class="alert alert-dismissable alert-<%= flash_class(key) %>">
    <button class="close" data-dismiss="alert">x</button>
    <%= value %>
</div>
<% end %>
<% end %>
