<!-- 以下是GoToTop line -->
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="top-line" style="margin-top: 180px; text-align: center">
                <div>
                    <a href="#bs-example-navbar-collapse-1">
                        <i class="fa fa-arrow-circle-up"></i>
                    </a>
                    <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcxg8dgfe5g31hc01zmwx.gif">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 以下是底端导航 -->
<div class="container">
    <div class="row">
        <ul class="nav-line">
            <li>
                <a href="/products">
                    <i class="fa  fa-heartbeat"></i>
                    红玫瑰<span class="badge">hot</span>
                </a>
            </li>
            <li>
                <a href="/products">
                    <i class="fa  fa-gratipay"></i>
                    <span>巧克力</span>
                </a>
            </li>
            <li>
                <a href="/products">
                    <i class="fa  fa-gift"></i>
                    <span>小信物</span>
                </a>
            </li>
            <li>
                <a href="/products">
                    <i class="fa  fa-envira"></i>
                    <span>花世界</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 以下是footer -->
<div class="row">
    <footer class="container-fluid">
        <div class="row">
            <div class="footer-section">
                <div class="footer-content">
                    <div class="contact-line-block">
                        <div class="right-block">
                            <div class="line">
                                <div class="icon">
                                    <i class="fa fa-comments-o fa-fw" id="fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <div class="link">
                                    <a href="#">在线客服 ( 工作日 9:00-22:00 ）
                                    </a>
                                </div>
                            </div>
                            <div class="introduce">
                                <div class="img-block">
                                    <a href="#">
                                        <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fd8fp9e92hj30cz0bt40g.jpg"></a>
                                </div>
                                <div class="introduce-block">
                                    <p>LOVE&GIFT，一家专注于为你提供创意送礼解决方案的商店。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="des-block">
                        <div class="column-block">
                            <div class="column-left">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">VIP会员</li>
                                    <li>
                                        <a href="#">会员政策</a>
                                    </li>
                                    <li>
                                        <a href="#">常见问题</a>
                                    </li>
                                    <li>
                                        <a href="#">支付方式</a>
                                    </li>
                                    <li>
                                        <a href="#">优惠劵使用</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-center">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">配送方式</li>
                                    <li>
                                        <a href="#">配送范围</a>
                                    </li>
                                    <li>
                                        <a href="#">配送时间</a>
                                    </li>
                                    <li>
                                        <a href="#">配送收费</a>
                                    </li>
                                    <li>
                                        <a href="#">快递查询</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-right">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">售后服务</li>
                                    <li>
                                        <a href="#">退换货物</a>
                                    </li>
                                    <li>
                                        <a href="#">退款申请</a>
                                    </li>
                                    <li>
                                        <a href="#">订单修改</a>
                                    </li>
                                    <li>
                                        <a href="#">发票出具</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wechat-block">
                        <div class="column-block">
                            <div class="column-center">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">微信客服</li>
                                    <li class="wechat-img-block">
                                        <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fd8hmf9r6aj30by0bygme.jpg">
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="fline"></div>
                        <div class="copyright-block">
                            <div class="copyright-content">
                                <div class="copyright-info">
                                    <p>任何问题，扫描微信二维码，联系在线客服。 工作时间：周一至周五9:00-22:00；周六、周日 10:00-18:00，法定节假日休息</p>
                                    <p>Copyright © LOVE&GIFT 2017，All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
